[submodule "fvkry-fe"]
	path = fvkry-fe
	url = https://github.com/calebomondi/projectx.git
[submodule "fvkry-smartcontract"]
	path = fvkry-smartcontract
	url = https://github.com/calebomondi/fvkry-hardhat
[submodule "fvkry-be"]
	path = fvkry-be
	url = https://github.com/calebomondi/fvkry-backend
